version: '3.4'

services:
  postgres:
    image: postgres
    container_name: vote-postgres
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
    - POSTGRES_PASSWORD=password
    - POSTGRES_DB=vote